Workflows/MSCandidatesAgent-InsertDatatoDatavers-239D4A04-8B66-F111-AB0D-7C1E5220AFC7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_f5352"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "97a641bd-2cee-486f-a705-98fb3ecc9394"
          },
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "JsonInput",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Parse_JSON": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6fa7d320-2ce4-484b-850b-c05781dda5f9"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()['text']",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "CandidateData": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "properties": {
                              "type": "object",
                              "properties": {
                                "certifications": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    },
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "education": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    },
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        },
                                        "properties": {
                                          "type": "object",
                                          "properties": {
                                            "degree": {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "institution": {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "period": {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string"
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "required": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "email": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "fullName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "experience": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    },
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        },
                                        "properties": {
                                          "type": "object",
                                          "properties": {
                                            "company": {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "description": {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "period": {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "title": {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string"
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "required": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "languageSkills": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    },
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "role": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "seniority": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "skills": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    },
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "summary": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "required": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "required": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "Respond_to_Copilot": {
          "runAfter": {
            "Add_a_new_row_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "57f7b5cc-e81e-4b7d-8e1b-7cb449216706"
          },
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "statusCode": 200,
            "body": {},
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "Add_a_new_row_2": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "361b9e6b-eb0a-46ad-afb5-082568fd80dd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "craa7_candidateses",
              "item/craa7_certifications": "@string(body('Parse_JSON')?['CandidateData']?[0]?['certifications'])",
              "item/craa7_education": "@string(body('Parse_JSON')?['CandidateData']?[0]?['education'])",
              "item/craa7_email": "@body('Parse_JSON')?['CandidateData']?[0]?['email']\r\n",
              "item/craa7_experience": "@string(body('Parse_JSON')?['CandidateData']?[0]?['experience'])",
              "item/craa7_languagesskills": "@string(body('Parse_JSON')?['CandidateData']?[0]?['languageSkills'])",
              "item/craa7_role": "@body('Parse_JSON')?['CandidateData']?[0]?['role']",
              "item/craa7_seniority": "@body('Parse_JSON')?['CandidateData']?[0]?['seniority']",
              "item/craa7_skills": "@string(body('Parse_JSON')?['CandidateData']?[0]?['skills'])",
              "item/craa7_summary": "@body('Parse_JSON')?['CandidateData']?[0]?['summary']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}