Workflows/MSCandidatesRecommendationAgent-SearchCandidatebas-4BA66857-9666-F111-AB0D-7C1E5220AFC7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_f5352"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "a34f2fef-0072-4c97-9dc9-4592f3f4901c"
          },
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "SkillString",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7bf6e515-91d5-4283-8465-b66ec9f10ad2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "craa7_candidateses",
              "$filter": "@triggerBody()['text']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Respond_to_Copilot": {
          "runAfter": {
            "Compose_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8ae821fe-24e8-4d4f-bb65-c5875e830725"
          },
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "statusCode": 200,
            "body": {
              "profiles": "@{outputs('Compose')}",
              "avaiability": "@{outputs('Compose_2')}",
              "cost": "@{outputs('Compose_3')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "profiles": {
                  "title": "Profiles",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "avaiability": {
                  "title": "avaiability",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "cost": {
                  "title": "Cost",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "List_rows_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9b8e9a54-989c-438f-9506-911c4d415336"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "craa7_candidatesavailabilities",
                  "$filter": "craa7_email eq '@{items('Apply_to_each')?['craa7_email']}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "be4d9c55-b5bb-4521-bb98-94f47a4fe1ab"
          },
          "type": "Foreach"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "eada71ac-80e9-4c0d-96e5-f6668ffe5dab"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CandidatesSkills",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ce478fac-0e87-473c-8481-90d19320d283"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CandidateAvaiability",
                "type": "array"
              }
            ]
          }
        },
        "Compose": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c99b7343-5161-46c7-8ed3-e1a9aa07eba3"
          },
          "type": "Compose",
          "inputs": "@outputs('List_rows')?['body/value']"
        },
        "Compose_2": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c4c615f0-aaab-403b-9e6d-e06079c811c2"
          },
          "type": "Compose",
          "inputs": "@result('Apply_to_each')"
        },
        "Apply_to_each_2": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "List_rows_3": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b4330f3f-f523-4bb5-8652-fdff659011fa"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "craa7_candidatessalarieses",
                  "$select": "craa7_dailyhourscost,craa7_email",
                  "$filter": "craa7_email eq '@{items('Apply_to_each_2')?['craa7_email']}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Compose_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bf9aeea3-e137-4423-afe8-a334af86f397"
          },
          "type": "Foreach"
        },
        "Compose_3": {
          "runAfter": {
            "Apply_to_each_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dbe1e7c2-4ab3-4151-b6a5-6ea34754372d"
          },
          "type": "Compose",
          "inputs": "@result('Apply_to_each_2')"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}