Workflows/MSFinanceAgent-DsiplaythepriceforCandidates-AB243378-9F66-F111-AB0D-7C1E5220AFC7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_f5352"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "ac990529-2484-4152-8e0f-36ee717dcaf1"
          },
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "QueryString",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "9809ef99-d61f-47bf-89ae-2a3ad41f394d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "craa7_candidatessalarieses",
              "$select": "craa7_monthlysalary,craa7_dailyhourscost,craa7_email",
              "$filter": "@triggerBody()?['text']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Respond_to_Copilot": {
          "runAfter": {
            "Compose_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2fd91c34-baf9-430b-99b5-9a88addc03a5"
          },
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "statusCode": 200,
            "body": {
              "userscost": "@{outputs('Compose')}",
              "usersavaiability": "@{outputs('Compose_2')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "userscost": {
                  "title": "UsersCost",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "usersavaiability": {
                  "title": "UsersAvaiability",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Compose": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "73ba9a20-1843-409a-896d-98ca7a974cd8"
          },
          "type": "Compose",
          "inputs": "@outputs('List_rows')?['body/value']"
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "List_rows_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "0b38c026-3f81-415b-8ce4-0e1f4e95dfb1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "craa7_candidatesavailabilities",
                  "$filter": "craa7_email eq '@{items('Apply_to_each')?['craa7_email']}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f6cfb5ea-9503-425a-8c9d-263d0f70f83a"
          },
          "type": "Foreach"
        },
        "Compose_2": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "517890c3-b524-4e5b-8cd0-9024bf990009"
          },
          "type": "Compose",
          "inputs": "@result('Apply_to_each')"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}